<div class="col">
    <div class="card post-card todo-style">
        <div class="card-body">
            <h1 class="card-title">{{todo.id}}
                <span class="badge text-bg-info">{{todo.name}}</span>
            </h1>
            <h2>
                <span class="badge text-bg-secondary">{{todo.user}}</span>
            </h2>
            <p class="card-text">{{todo.description}}</p>
            <p class="card-text true-false" data-todo-id="{{todo.id}}">Completed: {{todo.completed}}</p>
            <p class="card-text true-false">Priority: {{todo.priority.value}}</p>
            {% if todo.parent_todo %}
                <p class="card-text true-false">Parent todo: {{todo.parent_todo}}</p>

            {% endif %}
            {% if todo.label.all %}
                <p class="card-text true-false">Label: </p>
                {% for lab in todo.label.all %}
                    <p class="card-text true-false">{{lab}}</p>
                {% endfor %}
            {% endif %}
            <form action="update/{{todo.id}}">
                <button class="btn btn-primary">Update</button>
            </form>
            <form action="{{todo.id}}">
                <button class="btn btn-warning">Checkout todo info</button>
            </form>
             <form action="delete/{{todo.id}}" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>

        </div>

        <a href="{% url 'complete_todo' todo_id=todo.id %}" class="btn btn-success">Complete</a>
    </div>
</div>
