<div class="col">
    <div class="card post-card todo-style">
        <div class="card-body">
            <h1 class="card-title">{{todo.id}}
                <span class="badge text-bg-info" data-post-id="{{todo.name}}">{{todo.name}}</span>
            </h1>
            <h2>
                <span class="badge text-bg-secondary">{{todo.user}}</span>
            </h2>
            <p class="card-text">{{todo.description}}</p>
            <span class="card-text true-false">{{todo.completed}}</span>
        </div>
         <button data-id="{{todo.id}}">Complete</button>
    </div>
</div>
