.header-style {
    color: black;
    text-align:center;
    font: italic 9em "Fira Sans", serif;
    margin: 40px
}

.todo-style {
    color: blue;
    margin: 10px
}

.line-block {
    width:150px;
    height:300px;
    background:#FFB16D	;
    float:left;
    margin: 10px 10px 10px 10px;
    text-align:center;
    padding: 10px;
    border-width:2;
    border-color: #FF0000;
    border-style: solid;
    background: -webkit-linear-gradient(90deg, #fe8140,#fed04f);
    background: linear-gradient(90deg, #fe8140,#fed04f);

}

.body-style {
    background: -webkit-linear-gradient(113deg, #ccd3d4,#a7adad,#828687);
    background: linear-gradient(113deg, #ccd3d4,#a7adad,#828687);
}

.complete-button {
    width: 90px
}
