<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todos app!</title>
    {% load static %}
    <link rel="stylesheet"  href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/button.js' %}"></script>
</head>
<body class="body-style">
    <h1 class="header-style">It's our todo list!</h1>

    <div class="container">
        <div class="row content">
        {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>